{% extends 'layout.html.twig' %}

{% block title %}Login{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center" style="min-height: 70vh;">
        <form method="post" class="border p-4 rounded shadow" style="width: 300px;">
            <h1 class="mb-4 text-center">Login</h1>
            {% if flash_message %}
                <div class="alert alert-danger">{{ flash_message }}</div>
            {% endif %}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input id="username" type="text" name="username" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input id="password" type="password" name="password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Login</button>
            <p class="mt-3 text-center"><a href="{{ url_generator.generate('register') }}">Register</a></p>
        </form>
    </div>
{% endblock %}